<!-- / ------------- Try a custom date: -->
<!-- /- year = 2014 -->
<!-- /- month = 1 -->
<!-- /- day = 31 -->
<link rel="stylesheet" href="/css/calendar.css">
<div class='container-calendar'>
    <div class='calendar'>
      <div class='month'>
        December
        2018
      </div>
      <ul class='weekdays'>
        <li class='weekday'>
          S
        </li>
        <li class='weekday'>
          M
        </li>
        <li class='weekday'>
          T
        </li>
        <li class='weekday'>
          W
        </li>
        <li class='weekday'>
          T
        </li>
        <li class='weekday'>
          F
        </li>
        <li class='weekday'>
          S
        </li>
      </ul>
      <ul class='week'>
        <li class='day'>
        </li>
        <li class='day'>
        </li>
        <li class='day'>
        </li>
        <li class='day'>
        </li>
        <li class='day'>
        </li>
        <li class='day'>
        </li>
        <li class='day'>
          <span class='mute'>
            1
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            2
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            3
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            4
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            5
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            6
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            7
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            8
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            9
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            10
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            11
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            12
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            13
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            14
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            15
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            16
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            17
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            18
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            19
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            20
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            21
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            22
          </span>
        </li>
        <li class='day'>
          <span class='mute'>
            23
          </span>
        </li>
        <li class='day now'>
          24
        </li>
        <li class='day'>
          25
        </li>
        <li class='day'>
          26
        </li>
        <li class='day'>
          27
        </li>
        <li class='day'>
          28
        </li>
        <li class='day'>
          29
        </li>
        <li class='day'>
          30
        </li>
        <li class='day'>
          31
        </li>
      </ul>
    </div>
  </div>
  