body {
    padding-top: 54px;
  }
  .row-striped:nth-of-type(odd) {
    background-color: lightblue;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: pink;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
    margin-bottom: 2%;
}

a.anchor-no-decor:link {
  text-decoration: inherit;
  color: inherit;
}

a.anchor-no-decor:visited {
  text-decoration: inherit;
  color: inherit;
}

.chunk:before {
  content: " ";
  display: table;
}
.chunk:after {
  clear: both;
}