
<form style="width:50%" action="/meetings/<%= post.meetingId %>/posts/<%= post.id %>/comments/create" method="post">
    <div class="form-group">
      <label for="body">New Discussion</label>
      <textarea  class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>