<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <br />
      <% if(currentUser && currentUser.isAdmin()) { %>
      <a class="btn btn-info" href = "/meetings/new">New Meeting</a>
      <% } %>

      <h1>Meetings</h1> 

      <div class="container">
        <% meetings.forEach((meeting) => { %>
          <%- include('../static/partials/meeting.ejs', {meeting}) %>
        <% }) %>
        </div>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>