<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <!-- <% if(currentUser) { %>
        <a href="/meetings/new">Create Meeting</a>
      <% } %> -->

      <h1>Meetings</h1>

      <% if(currentUser && currentUser.isAdmin()) { %>
        <a href="/meetings/new" class="btn btn-success">New Meeting</a>
      <% } %>
      <ul class="list-group">


        <% meetings.forEach((meeting) => { %>

          <li class="list-group-item">
            <a href="/meetings/<%= meeting.id %>"> <%= meeting.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>