<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Meetings</h1> 
      <a href = "/meetings/new">New Meeting</a>

      <ul class="list-group">


        <% meetings.forEach((meeting) => { %>

          
          <li class="list-group-item">
            <a href="/meetings/<%= meeting.id %>"> <%= meeting.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>