<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Meetings</h1>

      <ul class="list-group">
<!-- #1 -->
        <% meetings.forEach((meeting) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/meetings/<%= meeting.id %>"> <%= meeting.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>