<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <br />

      <% if(currentUser && currentUser.isAdmin()) { %>
      <a class="btn btn-info" href = "/meetings/new">New Meeting</a>
      <% } %>

      <h1>Meetings</h1> 

      <ul class="list-group">

        <% meetings.forEach((meeting) => { %>
          
          <li class="list-group-item">
            <a href="/meetings/<%= meeting.id %>"> <%= meeting.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>