<div class="flex flex--column atMedium_flex--row flex--alignTop pageHead-pageTitle">
    <div class="dateDisplay--wrapper"><time datetime="1545692400000" class="dateDisplay valignChildren--center">
        <span class="dateDisplay-day"><span>24</span></span><span class="dateDisplay-month text--tiny">
            <span>Dec</span></span></time></div>
            <div class="flex-item flex-item--2 pageHead--titleArea">
                <p class="pageHead-pageTitleLabel text--medium text--secondary">
                    <time class="eventStatusLabel" datetime="1545692400000">
                        <span>Monday, December 24, 2018</span></time></p>
                        <h1 class="pageHead-headline text--pageTitle">Christmas Eve Candlelight Worship with Brazilian 2Wins</h1>
                        <div class="flex flex--row flex--alignCenter event-info-hosts text--small">
                            <div class="flex-item flex-item--shrink">
                                
                                <span class="visibility--a11yHide">Debbie Griffin</span>
                                <img class="avatar-print" src="https://secure.meetupstatic.com/photos/member/4/3/c/c/thumb_250517356.jpeg" alt="Debbie Griffin"></a></div>
                                <div class="flex-item event-info-hosts-text text--secondary text--small valign--middle wrap--singleLine--truncate">
    n>
                                    </span></p>
                                    <span class="groupPrivacyLabelTooltip text--secondary text--small"><div>
                                        <span class="infoToggle-label"><span>Public group</span></span>
                                        <div class="popup"><div class="popup-trigger" aria-labelledby="privacy-info-tooltip">
                                            <button class="button button--reset" type="button">
                                                <span class="infoToggle-trigger align--center" role="img">?</span>
                                            </button></div></div></div></span></div></div></div>
                                            <div class="flex-item pageHead-pageActions">
                                                <div class="rsvpIndicator span--100">
                                                    <div class="eventStatusIndicator padding--bottom">
                                                        <p class="eventStatusIndicator-status display--inline text--bold padding--right-half">
                                                            <span>Are you going?</span></p></div><div class="flex flex--row flex--spaceBetween">
                                                                <div class="flex-item rsvpIndicator-button--border">
                                                                    <button class="button button--fullWidth button--small rsvpIndicator-button rsvpIndicator-rsvp-yesButton" type="button" aria-label="Going">
                                                                        <span class="svg svg--check rsvpIndicator-buttonIcon">
                                                                        <svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img">
                                                                            <use xlink:href="#icon-check--small"></use></svg></span></button></div><div class="flex-item rsvpIndicator-button--border">
                                                                                <button class="button button--fullWidth button--small rsvpIndicator-button rsvpIndicator-rsvp-noButton" type="button" aria-label="Can't Go"><span class="svg svg--cross rsvpIndicator-buttonIcon">
                                                                                    <svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img">
                                                                                        <use xlink:href="#icon-cross--small"></use></svg></span></button></div></div></div><div class="event-share border--bottom border--top margin--top text--small">
                                                                                        <span class="event-share-label text--bold display--inline"><span>Share:</span></span><button class="button button--reset button--iconOnly event-share-facebook padding--half" type="button">
                                                                                            <div class="flex flex--row flex--center button-icon-wrapper"><div class="flex-item flex-item--shrink button-icon valign--middle flush--left"><span class="svg svg--external-facebookboxed"><svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img" style="fill:rgb(151, 159, 164)">
                                                                                                    <use xlink:href="#icon-external-facebookboxed"></use></svg></span></div></div></button><button class="button button--reset button--iconOnly event-share-twitter padding--half" type="button"><div class="flex flex--row flex--center button-icon-wrapper"><div class="flex-item flex-item--shrink button-icon valign--middle flush--left"><span class="svg svg--external-twitter"><svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img" style="fill:rgb(151, 159, 164)"><use xlink:href="#icon-external-twitter"></use></svg></span></div></div></button><button class="button button--reset button--iconOnly event-share-linkedin padding--half" type="button"><div class="flex flex--row flex--center button-icon-wrapper"><div class="flex-item flex-item--shrink button-icon valign--middle flush--left"><span class="svg svg--external-linkedin"><svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img" style="fill:rgb(151, 159, 164)"><use xlink:href="#icon-external-linkedin"></use>
</svg></span></div></div></button>
<button class="button button--reset button--iconOnly event-share-invite padding--half" type="button">
    <div class="flex flex--row flex--center button-icon-wrapper">
        <div class="flex-item flex-item--shrink button-icon valign--middle flush--left">
            <span class="svg svg--invite-filled">
                <svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img" style="fill:rgb(151, 159, 164)">
                    <use xlink:href="#icon-invite-filled--small"></use>
                </svg></span></div></div></button></div>
            </div></div>