<% if(meetingUser) { %>
   <!-- <%=JSON.stringify(meetingUser)%> -->
    <div style="width: 50%">
     
      <small class="card-subtitle mb-2 text-muted">
  
        Attendee: <%= meetingUser.User.email %> 
      </small>
  
   <!-- #3 -->

    </div>
  <% } %>