<% if(meetingUser) { %>
<!-- <%=JSON.stringify(meetingUser)%> -->
<div class="card">

  <div class="box-part text-center">

      <img src="<%= meetingUser.User.image %>" />

    <div class="title">
      <h3> <%= meetingUser.User.username %> </h3>
    </div>
  </div>
</div>
<% } %>