<% if(meetingUser) { %>
   <!-- <%=JSON.stringify(meetingUser)%> -->
    <div style="width: 50%">
     
      <small class="card-subtitle mb-2 text-muted">
  
        Attendee: <%= meetingUser.User.email %> 
      </small>
  
   <!-- #3 -->
   <% if(currentUser && currentUser.id === meetingUser.userId || currentUser.isAdmin()) { %> -->

    <form style="display:initial"
          action="/meetings/<%= meeting.id %>/meetingUser/<%= meetingUser.id %>/destroy"
          method="post">
      <button type="submit" class="btn btn btn-sm btn-outline-danger">Cancel Registration</button>
    </form>
  <% } %>


    </div>
  <% } %>