<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
       <% include ./partials/navbar.ejs %>
      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->

        <header class="jumbotron my-4">
          <p class="display-6">READ ME</p>
          <p class="lead">Welcome to our Awesome Meetup Association.</p>
          <p class="lead">Using free sign up to become a member of Meetup, You are able to access to all the meetings in detail, which include: </p>
          <p class="lead">Time the meetings are hosted, Discussions about meetings of other Meetup members, and Who will join meetings.</p>
         
          <p class="lead">Thank you for your time and enjoy our awesome association.</p>
          <a href="/meetings" class="btn btn-primary btn-lg">Exit</a> 
        </header>

      
      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>